@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.font-times{
  font-family: 'Times New Roman', Times, serif;
}

.arrowCustom {
  @apply absolute block 
  w-auto h-auto p-[5px] 
  top-[50%] -translate-y-[50%] 
  z-10  cursor-pointer text-[#888888];
  filter: drop-shadow(
    rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px
  );
}
.arrow {
  @apply w-10 h-10;
}

.customPaging {
  width: 50px;
  height: 6px;
  border-radius: 14px;
  border: 1px solid #b3b3b3;
  background-color: white;
}
.slick-active .customPaging {
  background-color: yellow;
  border: 0px;
}

.slick-dots li {
  margin: 0 20px !important;
}

.slick-slide {
  position: relative;
}

.slick-list {
  padding: 0px 0px !important;
}

.icon-facebook{
  font-family: 'ElegantIcons';
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #018445;
  color: #018445;
  text-align: center;
  line-height: 23px;
  font-size: 0.78571429em;
}

.icon-facebook::before{
  content: "\e093";
}

/* From Uiverse.io by david-mohseni */ 
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  /* padding-top: 40px; */
  font-family: "Poppins", sans-serif;
  justify-content: flex-start;
}

.wrapper .icon {
  position: relative;
  /* background: #fff; */
  border-radius: 50%;
  margin: 10px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #FF0000;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.abc{
  font-family: "Crimson Text", serif;
}
